<p>
    <a href="/admin/user_list/">ユーザー一覧</a>
</p>
<p>
    <a href="/admin/message_list/index">メッセージ一覧</a>
</p>
<p>
    <a href="/admin/send_message/">メッセージ送信</a>
</p>
<p>
    <a href="/admin/caliculam_list/">カリキュラム一覧</a>
</p>
<br>
<p>
    <a href=/logout>ログアウト</a>
</p>
